
@{
    ViewData["Title"] = "PaymentFail";
}

<h1>Thanh Toán Thất bại</h1>
<form asp-action="Index" asp-controller="Product">
    <button type="submit" class="btn btn-primary">Trở về</button>
</form>
